/* CSS for Match Game */

body {
  padding-top: 5.25rem;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(255, 242, 242);
}


/* CSS for Intructions */

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 64, 86);
}

p {
  color: rgb(74, 74, 74);
}


/* CSS for Grid */

.card {
  height: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  padding-top: 0.75rem;
  cursor: default;
}
